<table>
  <thead>
    <th>ID</th>
    <th> Hospital Name</th>
    <th> Hospital Location</th>
  </thead>

  <tbody>
    <%= for hospital <- @hospitals do %>
    <tr> 
    <td><%= hospital.id %></td>
    <td><%= hospital.hospital_name %></td>
    <td><%= get_member(hospital) %></td>
     <td><%=link "View", to: Routes.hospital_path(@conn, :show, hospital.id) %></td>
   </tr>
   <% end %>
  </tbody>
 </table>