<table>
  <thead>
    <th>ID</th>
    <th> Hospital Name</th>
    <th> Hospital Location</th>
  </thead>

  <tbody>
    <tr> 
    <td><%= @hospital.id %></td>
    <td><%= @hospital.hospital_name %></td>
    <td><%= @hospital.location %></td>
     <td><%=link "Edit", to: Routes.hospital_path(@conn, :edit, @hospital.id) %></td>
   </tr>
  </tbody>
 </table>