/* This file is for your main application css. */

@import "./phoenix.css";
#map {
        height: 400px;
        width: 100%
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }